a {
  color: green;
}

body{
  display: flex;
  flex-direction: column;
}

main{
  display:flex;
  flex-direction: row;
  flex: auto;
}

.page-header{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}
  

   .page-aside{
  display: flex;
     flex-direction: column;
     align-items: center;
     flex-wrap:wrap;
     flex: 1;
}

 .page-article{
  display: flex;
   flex-direction: column;
   justify-content: center;
  align-items: center;
   flex: 3;
}

.page-footer{
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-end;
}
